<div class="page-root">

  <mat-toolbar color="primary" role="header">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon arial-label="menu">menu</mat-icon>
    </button>

    <a mat-button [routerLink]="''">
      <h1>DApp toolkit for ethereum developpment </h1>
    </a>
    <span class="element"></span>
    <app-theme-picker> </app-theme-picker>

  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" opened cdkscrollable>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/unit-test'">Unit Test</a>
        <a mat-list-item [routerLink]="'/doc'">Doc web3</a>
        <a mat-list-item [routerLink]="'/tx-decoder'">Transaction decoder</a>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="page-root">
      <!-- <div class="toggle-sidenav"> </div> -->
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
