<mat-toolbar>
  <mat-toolbar-row>
    <h2>Load ABI &amp; Generate Test File</h2>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="ABI">
    <app-abi-importer (onContractLoaded)="writeTest($event)"></app-abi-importer>
  </mat-tab>
  <div *ngIf="result">

    <mat-tab label="Result - Functions">
      <div class="flex-line margin-h-15 fill-remaining-space">
        <div class=" element">
          <mat-form-field class="element width-100">
            <textarea rows="25" matInput class="keep-lines code-font"
              placeholder="Mocha test file">{{result}}</textarea>
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="copyResultToClipBoard()">Copy to ClipBoard</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Result - Events">
      <div class="flex-line margin-h-15 fill-remaining-space">
        <div class="keep-lines element">
          <mat-form-field class="element width-100">
            <textarea rows="25" matInput class="keep-lines code-font"
              placeholder="Events test code">{{events}}</textarea>
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="copyEventToClipBoard()">Copy to ClipBoard</button>
        </div>
      </div>
    </mat-tab>
  </div>

</mat-tab-group>
