<mat-toolbar>
  <mat-toolbar-row>
    <h2>Load ABI &amp; Generate Doc File</h2>
  </mat-toolbar-row>

</mat-toolbar>
<mat-tab-group>
  <mat-tab label="ABI">
    <app-abi-importer (onContractLoaded)="writeDoc($event)"></app-abi-importer>
  </mat-tab>

  <mat-tab label="Results" *ngIf="result">
    <!-- fname(parsedInputs) ==> parsedOutputs  (type + color) -->
    <mat-accordion>
      <mat-expansion-panel *ngIf="filteredOptions | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Public & external functions ({{result.fList.length}} items)
          </mat-panel-title>
          <mat-panel-description>
            <mat-form-field class="element" (click)="$event.stopPropagation()">
              <input type="text" matInput [formControl]="searchCtrl" placeholder="Search" id="search-function">
            </mat-form-field>

          </mat-panel-description>

        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let funct of (filteredOptions | async);let index = index; trackBy: trackByFn"
            [ngClass]="funct.style">
            {{funct.name}}{{funct.parsedInputs}} ➠ {{funct.parsedOutputs}} ({{funct.stateMutability}})
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="result.eList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contract Events ({{result.eList.length}} items)
          </mat-panel-title>
          <mat-panel-description>
            <mat-form-field class="element" (click)="$event.stopPropagation()">
              <input type="text" matInput [formControl]="searchEvent" placeholder="Search" id="search-events">
            </mat-form-field>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let ev of (filteredEvents | async);let index = index;  trackBy: trackByFn">
            {{ev.name}} ➠ {{ev.parsedOutputs}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <mat-accordion>
      <mat-expansion-panel *ngFor="let funct of result?.fList;let index = index;  trackBy index" [ngClass]="{'gaz-free': funct.constant,'cost-gaz':!funct.constant}">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{funct.name}} {{funct.parsedInputs}}
          </mat-panel-title>
          <mat-panel-description>
            => {{funct.parsedOutputs}} {{funct.stateMutability}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Payable: {{funct.payable}} -->
    <!-- Change the contract state: {{!funct.constant}}
      </mat-expansion-panel>
    </mat-accordion> -->

    <!-- <mat-accordion *ngIf="result?.eList">
      <mat-expansion-panel *ngFor="let ev of result?.eList;let index = index;  trackBy index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ev.name}}
          </mat-panel-title>
          <mat-panel-description>
            => {{ev.parsedInputs}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        Payable: {{funct.payable}}

      </mat-expansion-panel>
    </mat-accordion>  -->

  </mat-tab>
</mat-tab-group>
